body {
	font-family: sans-serif;
	margin: 0;
	background: #EEEEEE;
}

h1 {
	text-align: center;
}

/* Enables SVG to scale properly on the page */
svg {
	width: 100%;
}

#container {
	max-width: 1200px;
	margin: 20px auto;
}

.measure {
	width: 50%;
	float: left;
}

.fifty {
	width: 50%;
	float: left;
}
